# General Variables
WHITELISTED_WALLET_PRIVATE_KEY=<YOUR_WHITELISTED_PRIVATE_KEY>

# Seller Agent Variables
SELLER_ENTITY_ID=<YOUR_SELLER_ENTITY_ID>
SELLER_AGENT_WALLET_ADDRESS=<YOUR_SELLER_AGENT_WALLET_ADDRESS>

# Buyer Agent Variables
BUYER_ENTITY_ID=<YOUR_BUYER_ENTITY_ID>
BUYER_AGENT_WALLET_ADDRESS=<YOUR_BUYER_AGENT_WALLET_ADDRESS>
